POSTGRES_DB=plannings
COMPOSE_PROJECT_NAME=gestionplanning
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me_strong_password
POSTGRES_HOST_PORT=5432

SERVER_PORT=3001
APP_FRONTEND_URL=http://localhost:3000
VITE_API_BASE_URL=/api

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/plannings

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

SPRING_MAIL_HOST=ssl0.ovh.net
SPRING_MAIL_PORT=465
SPRING_MAIL_USERNAME=sageplanning@sageautomotivetunisia.com
SPRING_MAIL_PASSWORD=SagePlanning
SPRING_MAIL_SMTP_AUTH=true
SPRING_MAIL_STARTTLS_ENABLE=false
SPRING_MAIL_STARTTLS_REQUIRED=false
SPRING_MAIL_SSL_ENABLE=true
APP_ACCOUNT_MAIL_ENABLED=true
APP_ALERT_MAIL_ENABLED=true

PROMETHEUS_PORT=9090
GRAFANA_PORT=3002
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change_me_grafana_password

SONARQUBE_PORT=9000
SONAR_POSTGRES_DB=sonarqube
SONAR_POSTGRES_USER=sonarqube
SONAR_POSTGRES_PASSWORD=change_me_sonar_db_password
